

<!DOCTYPE html>
{#模板嵌套#}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  {# 根据屏幕自动调整适应相关布局#}
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel = "stylesheet" type = "text/css" href="{% static 'style/base.css' %}"/>
    <link rel = "stylesheet" type = "text/css" href="{% static 'bootstrap3.7/css/bootstrap.min.css' %}">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script type="text/javascript" src="{% static 'script/jquery-1.12.4.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'bootstrap3.7/js/bootstrap.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js'  %}"></script>
    {% block header_content %}{% endblock%}
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    {% include 'back_to_top_func.html' %}
    {% include 'header.html' %}
    <!-- 新增两个 div 容器 -->
    <!--#push容器留出一段与页脚等高的空隙，避免正文内容与页脚重叠。-->
    <!--#wrapper容器的底部有一个负边距，作用是给页脚容器让出位置。-->
    <div id="wrapper">
        {% block content %}{% endblock content %}
        <div id="push"></div>
    </div>
    {% block  script_extend %}{% endblock %}
    {% include 'footer.html' %}
</body>
</html>